<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-10 justify-content-md-center">
      <%= render 'shared/errors', obj: @article %>
      <%= form_with(model: @article, class: 'shadow p-3 mb-5 bg-info rounded', local: true) do |f| %>
        <div class="mb-3">
          <%= f.label :title, class: 'form-label text-light' %>
          <%= f.text_field :title, class: 'form-control', placeholder: 'Title of article' %>
        </div>

        <div class="mb-3">
          <%= f.label :description, class: 'form-label text-light' %>
          <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: 'Description of article' %>
        </div>
        <div class="mb-3">
          <%= f.submit class: 'btn btn-outline-light btn-lg' %>
        </div>
      <% end %>
    </div>

    <%= link_to ' [ Cancel ] ', articles_path, class: 'text-info' %>
  </div>
</div>